.chonky-chonkyRoot {
	border: 0px !important;
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	font-size: 0.875rem !important;
	border-radius: 0 !important;
	background-color: #f6f6f4 !important;
}
